// Import fonts
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Cutive+Mono&family=Permanent+Marker&display=swap");

// Breakpoints
$break-desktop: 900px;

//Fonts
$font-text: "Cutive Mono", monospace;
$font-title: "Permanent Marker", cursive;
$font-textbold: "Courier Prime", monospace;

//Colors

$primary-red: #6e1b10;
$primary-dark: #212021;
$primary-white: #f5f5f5;
$primary-dark-brown: #1e1e1e;

//Spacings
$space-m: 1rem;
$space-l: 1.5rem;

$grid-gap: 0.8rem;

//Effect

$small-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);



//Text size
$normal-text-size-footer: 20px;

