/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Cutive+Mono&family=Permanent+Marker&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

footer {
  width: calc(100% - 80px);
  padding: 20px 40px;
  background-color: #1e1e1e;
  color: #f5f5f5;
  font-family: "Cutive Mono", monospace;
}

footer .content-wrapper {
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto 2vw;
}
footer .content-wrapper p {
  font-size: 20px;
  line-height: 1.5;
}
footer .content-wrapper div:first-of-type p:first-of-type {
  font-weight: 600;
  text-transform: uppercase;
}
footer .content-wrapper nav a img {
  margin: 20px 0;
  width: 30px;
  filter: invert(100%);
  cursor: pointer;
}
footer .content-wrapper div:last-of-type {
  cursor: pointer;
}
footer .content-wrapper div:last-of-type p:first-of-type {
  font-weight: 600;
}

@media only screen and (min-width: 900px) {
  footer .content-wrapper {
    flex-direction: row;
    height: 200px;
    margin: 0 5vw;
    justify-content: space-around;
  }
}
.header_main {
  width: 100%;
  position: relative;
}
.header_main .header_text {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);
}
.header_main .header_text h1 {
  font-family: "Permanent Marker", cursive;
  font-size: 3.5vw;
  line-height: 1.6;
}
.header_main .header_text p {
  font-family: "Cutive Mono", monospace;
}
.header_main .header_text .arrow {
  margin-top: 24px;
}
.header_main .header_text .bounce {
  animation: bounce 2s infinite;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}
.header_main .header_background {
  width: 100%;
}
.header_main .header_background img {
  width: 100%;
}

.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0.3125rem;
}

.menu {
  display: flex;
  flex-direction: column;
}
.menu section .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 5%;
  margin-top: 5%;
  background-color: burlywood;
}
.menu section .content img {
  width: 300px;
}
.menu section .content .titre {
  font-size: 24px;
  padding: 5px;
  font-family: "Permanent Marker", cursive;
}
.menu section .content .info {
  font-family: "Cutive Mono", monospace;
  padding: 2%;
}
.menu section .content .underPict {
  display: flex;
  flex-direction: row;
  width: 300px;
  justify-content: space-around;
  align-items: center;
  padding: 2%;
}
.menu section .content .underPict .prix {
  font-family: "Permanent Marker", cursive;
}
.menu section .content .underPict .category {
  background-color: beige;
  border: 1px solid black;
  border-radius: 5%;
  padding: 2%;
  font-family: "Cutive Mono", monospace;
}

@media only screen and (min-width: 900px) {
  .menu {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 0.3125rem;
  }
  .menu .content {
    width: 450px;
    height: 460px;
  }
}/*# sourceMappingURL=main.css.map */