// About
// About
.about {
  width: 100%;
  box-sizing: border-box;
  .about_title {
    padding: 36px 0;
  }
  h2 {
    font-family: $font-title;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 24px;
  }
  .about_slogan {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: $font-text;
    font-weight: 800;
  }
  .about_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 600px;

    .about_text {
      font-family: $font-text;
      width: 100%;
      @include flexCenter;
<<<<<<< HEAD
=======
      flex-wrap: wrap;
>>>>>>> 71e5da07d21ca8cf85216c5df4dc3773dd26958d
      flex-direction: column;
      h3 {
        width: 100%;
        font-size: 1.5rem;
        text-align: left;
        font-weight: 800;
        padding-bottom: 24px;
      }
    }
    figure {
      width: 100%;
      aspect-ratio: 16/12;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        // margin: 0 auto;
      }
    }
  }
}
<<<<<<< HEAD
@media (max-width: 768px) {
  .about .about_container {
    flex-direction: column;
=======
@media (max-width: 968px) {
  .about .about_container {
    flex-direction: column;
    padding-bottom: 48px;
    margin: 0 48px;
    .about_text h3 {
      margin-top: 48px;
    }
  }
}
@media only screen and (min-width: $break-desktop) {
  .about .about_container {
    padding: 36px 0;
  }
  .about .about_container figure {
    margin: 0 36px;
  }
  .about .about_container .about_text {
    margin: 0 36px;
>>>>>>> 71e5da07d21ca8cf85216c5df4dc3773dd26958d
  }
}
