// About
.about {
    width: 100%;
    box-sizing: border-box;
    .about_title {
        padding: 36px 0;
    }
    h2 {
        font-family: $font-title;
        text-align: center;
        font-size: 2rem;
        margin-bottom: 24px;
    }
    .about_slogan {
        display:flex;
        justify-content: center;
        text-align: center;
        font-family: $font-text;
        font-weight: 800;
    }
    .about_container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;

        .about_text {
            font-family: $font-text;
            @include flexCenter;
            flex-direction: column;
            h3 {
                width: 100%;
                font-size: 1.5rem;
                text-align: left;
                font-weight: 800;
                padding-bottom: 24px;
            }
        }
        figure {
            width: 100%;
            img {
                width: 100%;
                box-shadow: $eliShadow;
            } 
    }  
}
}
@media (max-width: 768px) {
    .about .about_container {
        flex-direction: column;
    }
}
