

footer {
    width: calc(100% - 80px);
    padding: 20px 40px;
    // background-color: $primary-dark-brown;
    background-color: $primary-dark;
    color: $primary-white;
    font-family: $font-text;
}