.TitreMenu{
    text-align: center;
    font-family: $font-title;
    font-size: 2rem;
    padding-top: 2%;
}
.filter{
    display: flex;  
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 8px;
    margin-top: 2%;
    .category-button{
        position: relative;
        background: $cream;
        border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
    }
}

@media only screen and (min-width: $break-desktop){
    .filter{
        display: flex;  
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 8px;
        margin-top: 2%;
        .category-button{
            position: relative;
            background: $cream;
            border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
            color: black;
            box-shadow: 5px 5px rgba(0,0,0,.15);
            transition: all .4s ease;
        }
    }
}