/* Styles pour le modal */
.modal {
  position: fixed;
  font-family: $font-text;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 7000;
  overflow: auto;
  line-height: 1.4;
  .modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 700px;
    position: relative;
    border-radius: 5px;

    .modal-header {
      display: flex;
      justify-content: space-around;
      h2 {
        font-family: $font-title;
        font-size: 1.5em;
        padding-bottom: 12px;
        margin-bottom: 12px;
        width: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.611);
      }
      span {
        font-size: 2em;
        &:hover {
          color: rgb(182, 77, 77);
        }
      }
    }
    table {
      width: 100%;
      margin: 12px 0px 24px 0px;
      thead {
        font-family: $font-textbold;
      }
      tbody {
        td {
          text-align: center;
          .remove_btn {
            border: 1px solid black;
            background: $cream;
            border-radius: 5px;
            cursor: pointer;
            transition: transform 0.2s ease;
            font-family: $font-text;
            &:hover {
              transform: scale(105%);
            }
          }
          .add_btn {
            @extend .remove_btn;
            font-family: $font-textbold;
          }
          .decrease_btn {
            @extend .add_btn;
          }
        }
      }
    }

    .total_checkout {
      font-family: $font-textbold;
    }

    #checkoutButton {
      margin-top: 12px;
      border: none;
      background: $cream;
      border-radius: 5px;
      border: 1px solid black;
      font-family: $font-textbold;
      padding: 12px;
      transition: transform 0.3s ease;
      cursor: pointer;
      &:hover {
        transform: scale(105%);
      }
    }
    .clear_btn {
      @extend #checkoutButton;
      background: white;
    }
  }

  .close-modal {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
  }
}
