.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  article {
    .content {
      width: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding-top: 5%;
      margin-top: 5%;
      img {
        width: 250px;
      }
      .titre {
        font-size: 24px;
        padding: 5px;
        font-family: $font-title;
        margin-bottom: 2%;
      }
      .body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .underPict {
          display: flex;
          flex-direction: row;
          width: 250px;
          justify-content: space-between;
          align-items: center;
          padding: 2%;
          .prix {
            font-family: $font-title;
          }
          .category {
            background-color: beige;
            border: 1px solid black;
            border-radius: 5%;
            padding: 2%;
            font-family: $font-text;
          }
        }
        .info {
          font-family: $font-text;
          padding: 2%;
        }
      }
      .cart {
        background-color: beige;
        border: 1px solid black;
        border-radius: 5%;
        padding: 2%;
        font-family: $font-text;
        margin-bottom: 2%;
        cursor: pointer;
      }
    }
  }
}
@media only screen and (min-width: $break-desktop) {
  .menu {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 0.3125rem;
    article {
      .content {
        width: 400px;
                height: 550px;
        position: relative;
        background: $cream;
        border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
        color: black;
        box-shadow: 20px 20px rgba(0, 0, 0, 0.15);
        transition: all 0.4s ease;
        justify-content: space-between;
        &:hover {
          border-radius: 0% 0% 50% 50% / 0% 0% 5% 5%;
          box-shadow: 10px 10px rgba(0, 0, 0, 0.25);
        }
        figure {
          width: 300px;
                    height: 225px;;
        }
        .body {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          .underPict {
            display: flex;
            flex-direction: row;
            width: 300px;
            justify-content: space-between;
            align-items: center;
            padding: 2%;
            .prix {
              font-family: $font-title;
            }
            .category {
              background-color: beige;
              border: 1px solid black;
              border-radius: 5%;
              padding: 2%;
              font-family: $font-text;
            }
          }
          .info {
            font-family: $font-text;
            padding: 2%;
            height: 150px;
          }
        }
      }
    }
  }
}
